// Specific CSS for your home-page
.carousel-item {
  height: calc(100vh - 66px);
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tc {
  text-align: center;
}
.form-inputs {
  background-color: #ebebeb;
  padding: 1rem;
  margin-bottom: 2rem;
}
.trix-button-row {
  flex-wrap: wrap !important;
}
.inherit {
  height: 100%;
}
