<div class="menu-card tc">
  <% if !small %>
    <div class="menu-holder">
      <%= image_tag "manu-back-head.png", alt: "Spoke and spire", class: "top" %>
      <h1 style="color: white;" class="pv-mid"><%= menu.title.capitalize %></h1>
      <div class="menu-section">
        <div class="con-hold">
          <h4 style="color: white;">
            <%= menu.content %>
          </h4>
        </div>
      </div>
      <%= image_tag "menu-back-bottom.png", alt: "Spoke and spire", class: "top" %>
    </div>
  <% end %>
</div>
