<div class="container-fluid pv-mid" style="background-color: black; height: 100vh;">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="jc">
        <div class="tc">
          <%= render "shared/menu_card", menu: @menu, small: false %>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
